<h1>Blocmetrics</h1>
<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <%= pie_chart @sample_app.events.group(:event_name).count %>
    </div>
    <div class="col-md-8">
      <%= line_chart @sample_app.events.group_by_day(:created_at).count %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Easy to Use</h2>
      <p>Just add a pre-provided JS snippet to your app and Blocmetrics will track the events you want.</p>
    </div>
    <div class="col-md-4">
      <h2>Track Your Analytics</h2>
      <p>Blocmetrics will keep track of how people are using your web application.</p>
    </div>
    <div class="col-md-4">
      <h2>Sign in or Sign up</h2>
      <%= link_to "Sign In", new_user_session_url, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
